# Игнорирование файлов переменных среды
.env

# Игнорирование файлов для виртуальных окружений
venv/
__pycache__/
auto_msg_environment/

# Игнорирование IDE файлов (например, для VS Code)
.vscode/

# Игнорирование кэшированных файлов
*.pyc
*.pyo
